body{	
	max-width:900px; 
	font-size: 17px; 
	color: #000; 
	background-color:#F1F4F9;
  	margin-top:10px;
  	margin-bottom:10px;
	margin: 0 auto;
	padding: 3px;
	border: 1px solid #a2a2a2;
}

html * {
    font-family: Arial !important;
}

a{
	text-decoration: none; 
	color: #0c1ace;
	cursor: pointer;
}

a:hover {
  color: red;
}
	
.div {border-radius:4px;padding: 8px; font-weight: bold; background-color:#047448;font-size: 20px;color:#fff; }

hr {margin-top:4px;margin-bottom:4px;border:1px dotted #a5a6a8;  
  }
	
